@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(270deg, #232526, #414345, #232526, #414345);
  background-size: 800% 800%;
  animation: gradientMove 18s ease infinite;
  color: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}

p, li, span, div {
  color: #e5e7eb;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.02em;
}
a:hover {
  color: #f472b6;
}

@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
